.mall-header {
    height: 150px;
    background: url('https://picsum.photos/400/300') no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.mall-title {
    font-size: 22px;
    font-weight: 600;
    padding: 15px 15px;
    color: white;
    flex: 1;
}

.mall-desc {
    padding: 0 15px;
    font-size: 16px;
    color: white;
}

.level-list {
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .1);
}

.level-list .level-list-item {
    width: 100%;
}

.level-list .level-list-item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

