<div class="toilet-modal">
  <!-- <div class="toilet-img"></div> -->
  <img [src]="img" class="toilet-img">
  <div class="toilet-content">
    <div class="toilet-name font-sub-header">{{ toilet.name }}</div>
    <div class="toilet-status">
      <div class="font-normal">
        <span class="gender-male">男厕:</span>
        <span>总数: {{ toilet.position.male.total}}</span>
        <span>可用: {{ toilet.position.male.available}}</span>
      </div>
      <div class="font-normal">
        <span class="gender-female">女厕:</span>
        <span>总数: {{ toilet.position.female.total}}</span>
        <span>可用: {{ toilet.position.female.available}}</span>
      </div>
    </div>
    <div class="toilet-map font-sub-header clickable" (click)="viewMap()">
      <span>查看地图</span>
      <img src="/assets/icons/icon-arrow-right.png">
    </div>
  </div>
</div>
